django==2.2.20
django-govuk-template
-e git+https://github.com/lgarvey/django-govuk-forms.git@master#egg=govuk_forms
django-environ
jira
libsass
requests>=2.20.0
requests_oauthlib
zenpy
whitenoise

raven

urllib3>=1.24.2
