{% extends 'govuk_template.html' %}

{% block body_end %}
    {{ block.super }}
<script type="text/javascript">
    (function(){
        const actions = document.getElementsByName('request_type');
        const urls = document.getElementById('id_update_url-group');

        function showHideUrlEntryField() {
            var actionValue = null;
            for(var i = 0; i < actions.length; i++){
                  if(actions[i].checked)
                      actionValue = actions[i].value;
            }

            urls.style.display = (actionValue == 'Update page(s)') ? '' : 'none';
        }

        for(var i = 0; i < actions.length; i++){
            actions[i].onclick = showHideUrlEntryField;
        }

        showHideUrlEntryField();
    })();

    (function(){
        const actions = document.getElementsByName('platform');
        const urls = document.getElementById('id_attachment-group');

        function showHideFileUploadField() {
            var actionValue = null;
            for(var i = 0; i < actions.length; i++){
                  if(actions[i].checked)
                      actionValue = actions[i].value;
            }

            urls.style.display = (actionValue == 'digital_workspace') ? '' : 'none';
        }

        for(var i = 0; i < actions.length; i++){
            actions[i].onclick = showHideFileUploadField;
        }

        showHideFileUploadField();
    })();
</script>
{% endblock %}

{% block inner_content %}
<h1 class="heading-large">Request a content update</h1>
<p>All requests to upload new or change existing content must be raised through this form. Please provide one request at
    a time and as much detail as you can.</p>




<form method="post" action="{{ request.path }}" enctype="multipart/form-data">

    {% if form.non_field_errors %}
    <div class="error-summary">
        <h2 class="error-summary-heading heading-medium">Form errors</h2>
        <ul class="errorlist error-summary-list">
            <li><a href="#id_update_url-label">Provide the URL of the page to be updated</a></li>
        </ul>
    </div>
    {% endif %}

    {% csrf_token %}
    {{ form }}

<div class="govuk-inset-text">
<p>
By submitting this form you&rsquo;re consenting to the use of any data contained within it. <br>
Please do not submit any personal information that&rsquo;s not directly relevant to this request.
</p>
<p>
For full information on how data is used please view 
<a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/privacy-policies/" target="_blank">DIT&rsquo;s privacy policy</a>
and the data protection policy of our vendor <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/zendesk-privacy-policy" target="_blank">Zendesk</a>

</div>

    <input type="submit" class="button" value="Submit request"/>
</form>
{% endblock %}
